<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983208796970-sft81sqahk3f361q1v9s1hrg5l17h6r0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983208796970-sft81sqahk3f361q1v9s1hrg5l17h6r0</string>
	<key>API_KEY</key>
	<string>AIzaSyCbHyCPbVs8sIbc2yMh59eI3VGF3jTBhyk</string>
	<key>GCM_SENDER_ID</key>
	<string>983208796970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hetman.Roulette</string>
	<key>PROJECT_ID</key>
	<string>roulette-895bb</string>
	<key>STORAGE_BUCKET</key>
	<string>roulette-895bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983208796970:ios:7d2787a6997f235a91f453</string>
</dict>
</plist>